<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cm.payplaza.ecr_sdk_integration">

    <application
        android:name=".application.EcrApplication"
        android:allowBackup="true"
        android:icon="${appIcon}"
        android:label="@string/app_name_icon"
        android:roundIcon="${appIcon}"
        android:supportsRtl="true"
        android:theme="${launcherTheme}"
        android:fullBackupContent="true"
        android:extractNativeLibs="true">

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <activity
            android:name=".activity.payment.PaymentActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.transactionResult.TransactionResultActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.refund.RefundActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.lastReceipt.LastReceiptActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.totals.TotalsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.statuses.StatusesActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.preauth.start.PreAuthActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.preauth.finish.FinishPreauthActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>